<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Pet Center</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="cabecera"><img th:src="@{/image/logo-petcenter.png}" /></div>
			</div>
		</div>
		<div class="row">
			<br /><br />
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="/petcenter">Bienvenidos</a></li>
				 	<li role="presentation" class="active"><a href="clientesmascotas">Gestión de Clientes y Mascotas</a></li>
				  	<li role="presentation"><a href="#">Gestión de Atención Médica</a></li>
				  	<li role="presentation"><a href="#">Gestión de Laboratorio Clínico</a></li>
				</ul>
				<br />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<ol class="breadcrumb">
				  <li><a th:href="@{'/clientesmascotas'}">Gestión de Clientes y Mascotas</a></li>
				  <li class="active">Mascotas</li>
				</ol>
				<fieldset class="well the-fieldset">
			        <legend class="the-legend">Datos de la Mascota</legend>
			        
			        <form class="form-horizontal" method="get" th:action="@{/mascotas/1}" th:object="${mascotabusqueda}">
			        
			        	<div th:if="${#fields.hasErrors()}">
			       	
					        <div class="alert alert-danger" role="alert">
					        
						  		<ul>
								  <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
								</ul>
							
							</div>
						
						</div>
			        	
			        	<div class="row">
			        		<div class="col-sm-6">
			        			<div class="form-group">
								    <label for="inputEmail3" class="col-sm-5 control-label">Busqueda por:</label>
								    <div class="col-sm-7">
								    	<select id="buscarpor" name="buscarpor" class="form-control">
								    		<option value="0">-- Todos --</option>
								    		<option value="1">Codigo de la Mascota</option>
								    		<option value="2">Nombre de la Mascota</option>
								    		<option value="3">Número de Documento</option>
								    		<option value="4">Datos del Cliente</option>
								    	</select>
								    </div>
								</div>
			        		</div>
			        		<div class="col-sm-6">
			        		</div>
			        	</div>
			        	<div class="row">
			        		<div class="col-sm-12">
			        			<h4>Mascota</h4>
			        			<hr/>
			        		</div>
			        	</div>
			        	<div class="row">
			        		<div class="col-sm-6">
			        			<div class="form-group">
								    <label for="inputEmail3" class="col-sm-5 control-label">Codigo:</label>
								    <div class="col-sm-7">
								    	<input type="text" class="form-control comascota" id="codigo" name="codigo" placeholder="" />
								    </div>
								</div>
			        		</div>
			        		<div class="col-sm-6">
			        			<div class="form-group">
								    <label for="inputEmail3" class="col-sm-5 control-label">Nombre:</label>
								    <div class="col-sm-7">
								      	<input type="text" class="form-control nomascota" id="nombre" name="nombre" placeholder="" />
								    </div>
								</div>
			        		</div>
			        	</div>
			        	<div class="row">
			        		<div class="col-sm-12">
			        			<h4>Cliente</h4>
			        			<hr/>
			        		</div>
			        	</div>
			        	<div class="row">
			        		<div class="col-sm-6">
			        		</div>
			        		<div class="col-sm-6">
			        			<div class="form-group">
								    <label for="inputEmail3" class="col-sm-5 control-label">Nombre:</label>
								    <div class="col-sm-7">
								      <input type="text" class="form-control daclientes" id="nombreCliente" name="nombreCliente" placeholder="" />
								    </div>
								</div>
			        		</div>
			        	</div>
			        	<div class="row">
			        		<div class="col-sm-6">
			        			<div class="form-group">
								    <label for="inputEmail3" class="col-sm-5 control-label">Tipo de Documento:</label>
								    <div class="col-sm-7">
								    	<select class="form-control bdocumento" id="tipoDocumento" name="tipoDocumento">
								    		<option th:each="td : ${tipoDocumentos}" th:value="${td.idTipoDocumento}" th:text="${td.descripcionTipoDocumento}"></option>
								    	</select>
								    </div>
								</div>
			        		</div>
			        		<div class="col-sm-6">
			        			<div class="form-group">
								    <label for="inputEmail3" class="col-sm-5 control-label">Apellido Paterno:</label>
								    <div class="col-sm-7">
								      <input type="text" class="form-control daclientes" id="apPaterno" name="apPaterno" placeholder="" />
								    </div>
								</div>
			        		</div>
			        	</div>
			        	<div class="row">
			        		<div class="col-sm-6">
			        			<div class="form-group">
								    <label for="inputEmail3" class="col-sm-5 control-label">Nº del Documento:</label>
								    <div class="col-sm-7">
								    	<input type="text" class="form-control bdocumento" id="nrDocumento" name="nroDocumento" placeholder="" />
								    </div>
								</div>
			        		</div>
			        		<div class="col-sm-6">
			        			<div class="form-group">
								    <label for="inputEmail3" class="col-sm-5 control-label">Apellido Materno:</label>
								    <div class="col-sm-7">
								      <input type="text" class="form-control daclientes" id="apMaterno" name="apMaterno" placeholder="" />
								    </div>
								</div>
			        		</div>
			        	</div>
			        	<div class="row">
			        		<div class="col-sm-12 center">
			        			<div class="form-group">
								    <label for="inputEmail3" class="col-sm-5 control-label"></label>
								    <div class="col-sm-7">
								    	<button type="submit" class="btn btn-default" aria-label="Left Align">
										  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
										  Buscar Mascota
										</button>
								    </div>
								</div>
			        		</div>
			        	</div>
					</form>
			    </fieldset>
			    <fieldset class="well the-fieldset">
			        <legend class="the-legend">Resultados de la Búsqueda</legend>
			        <a type="button" class="btn btn-default" aria-label="Left Align" th:href="@{'/mascotas/crear'}">
					  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					  Agregar Mascota
					</a>
					<br/><br/>
					<div th:if="${existaData}">
						<table class="table">
							<thead>
								<th>Codigo</th>
								<th>Mascota</th>
								<th>Estado</th>
								<th>Dueño</th>
								<th>Relación</th>
								<th>Editar</th>
							</thead>
							<tbody>
								<tr th:each="m : ${mascotas}">
									<td th:text="${m.codigo}"></td>
									<td th:text="${m.mascota}"></td>
									<td th:text="${m.estado == true}? Activo : Inactivo"></td>
									<td th:text="${m.dueno}"></td>
									<td th:text="${m.relacionConMascota}"></td>
									<td>
										<div class="content_center">
											<a type="button" class="btn btn-default" aria-label="Left Align" th:href="@{'/mascotas/modificar/'+${m.idMascota}}">
											  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="content_center">
							<nav aria-label="Page navigation">
							  <ul class="pagination">
							    <li>
							      <a th:href="@{'/mascotas/'+${previusPage}}" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li th:each="i : ${#numbers.sequence(1, totalPages)}"><a th:href="@{'/mascotas/'+${i}}" th:text="${i}"></a></li>
							    <li>
							      <a th:href="@{'/mascotas/'+${nextPage}}" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul>
							</nav>
						</div>
					</div>
					<div th:unless="${existaData}">
						<table class="table">
							<thead>
								<th>Codigo</th>
								<th>Mascota</th>
								<th>Estado</th>
								<th>Dueño</th>
								<th>Relación</th>
								<th>Editar</th>
							</thead>
							<tbody>
								<tr>
									<td class="content_center" colspan="6">No hay datos</td>
								</tr>
							</tbody>
						</table>
					</div>
			    </fieldset>
			</div>
		</div>
		<br /><br />
		<br /><br />
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".comascota, .nomascota, .bdocumento, .daclientes").attr("disabled","disabled");
		$("#buscarpor").change(function(){
			var opcion = $(this).val();
			if(opcion === "1"){
				$(".nomascota, .bdocumento, .daclientes").attr("disabled","disabled");
				$(".comascota").removeAttr("disabled");
			} else if (opcion === "2"){
				$(".comascota, .bdocumento, .daclientes").attr("disabled","disabled");
				$(".nomascota").removeAttr("disabled");
			} else if (opcion === "3"){
				$(".comascota, .nomascota, .daclientes").attr("disabled","disabled");
				$(".bdocumento").removeAttr("disabled");
			} else if (opcion === "4") {
				$(".comascota, .nomascota, .bdocumento").attr("disabled","disabled");
				$(".daclientes").removeAttr("disabled");
			} else {
				$(".comascota, .nomascota, .bdocumento, .daclientes").attr("disabled","disabled");
			}
		});
	});
	</script>
</body>
</html>